
   .mainCard {
    height: 54vh;
    width: 20vw;
    background-color: #c71e1e;
    margin: 2vw;
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    
}

.mainCard img {
    height: 55vh;
    object-fit: cover;
}

.text1{
    margin-left:6vw;
    position: absolute;
    color: rgb(70, 139, 179);
    font-size: xx-larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


  
  .mainCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
    box-shadow: 0px 0px 10px 5px gold;
  }
  
  .mainCard:hover {
    transform: scale(1.1);
    filter: brightness(120%);
    box-shadow: 0px 0px 20px 10px gold;

  }
 
  .mainCard.blue-glow:hover {
    box-shadow: 0px 0px 20px 10px blue; 
  }
  
  .mainCard.green-glow:hover {
    box-shadow: 0px 0px 20px 10px green; 
  }
  
  .mainCard.golden-glow:hover {
    box-shadow: 0px 0px 20px 10px red; 
  }
  


  