.main-English {
  background-color: rgb(125, 6, 6);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-Math {
  background-color: rgb(11, 25, 106);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.main-Shapes {
  background-color: rgb(18, 63, 18);
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}
 
.main-English-inside {
  height: 96vh;
  width: 95vw;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px red;
  background-size: cover;  
}

.main-Math-inside{
  height: 96vh;
  width: 95vw;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px rgb(71, 32, 208);
  background-size: cover; 
}

.main-Shapes-inside{
  height: 96vh;
  width: 95vw;
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px rgb(8, 173, 82);
  background-size: cover; 
}

.level-main{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  gap: 2vw;
  transition: transform 0.5s ease;
  width: 96vw;
}

.slide-left {
  transform: translateX(10vw);
  margin-left: -10vw;
}

.slide-right {
  transform: translateX(0vw);
}

.InsideCardEnglish {
  height: 40vh;
  background-color: #c71e1e;
  margin-top: 3vh;
  flex: 0 0 15vw;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  background-size: 80vh;
  box-shadow: 0px 0px 10px 5px rgb(213, 43, 89); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  text-decoration:none;
}
.InsideCardMath{
  height: 40vh;
  background-color: #c71e1e;
  margin-top: 3vh;
  flex: 0 0 15vw;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  background-size: 70vh;
  box-shadow: 0px 0px 10px 5px rgb(28, 60, 246); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  text-decoration: none;
}

.InsideCardShapes{
  height: 40vh;
  background-color: #c71e1e;
  margin-top: 3vh;
  flex: 0 0 15vw;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  background-size: 70vh;
  box-shadow: 0px 0px 10px 5px rgb(5, 144, 72); 
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  text-decoration: none;
}


.InsideCardShapes:hover,
.InsideCardEnglish:hover,
.InsideCardMath:hover{
  transform: scale(1.05);
  filter: brightness(130%);
}
 
.navigation-buttons {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  right: 3rem;
  left: 3rem; 
  gap: 2rem;
  z-index: 1000;
}



.buttonleft,
.buttonright {
  border: none;
  background-color: #ffffff00;
  border-radius: 20px;
  cursor: pointer;
  color: blue;
  font-size: 4vw;
}
 
.buttonleft:hover,
.buttonright:hover {
  color: rgb(123, 123, 214);
}

.id{
  color: rgb(125, 118, 221);
  font-size: 3rem;
}

.idMath{
  color: rgb(206, 175, 216);
  font-size: 3rem;
}

.lock{
  color: rgb(125, 118, 221);
  font-size: 4rem;
  margin-top: 7vh;
}

.lockMath{
  color: rgb(206, 175, 216);
  font-size: 4rem;
  margin-top: 10vh;

}

.end{
  color: rgb(125, 118, 221);
  font-size: 3rem;
  margin-top: 13%;
  background-color:rgba(255, 255, 255, 0);
  border: none;

}

.endMath{
  color: rgb(206, 175, 216);
  font-size: 3rem;
  margin-top: 13%;
  background-color:rgba(255, 255, 255, 0);
  border: none;

}

.lock1{
  color: rgb(125, 118, 221);
  font-size: 4rem;
  margin-top: -9vh;
  margin-left: -2vw;
  background-color:rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
}

.lock1Math{
  color: rgb(206, 175, 216);
  font-size: 4rem;
  margin-top: -9vh;
  margin-left: -2vw;
  background-color:rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
}

.LevelClick{
  /* border: red 5px solid; */
  height: 100%;
}
