.main-shapes{
    background-color: rgb(14, 50, 31);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}
 

  
  .main-shapes-inside {
    height: 95vh;
    width: 95vw;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px rgb(79, 135, 34); 
    background-size: cover;

    
    
    
   
  }